[2017-02-03 17:25] rajmani1995 opened #1 "statusText is "error" for any program on http://ide.judge0.com/"
Response for any type of program
[code]
Reason: `data.token` on line 47 should be `data.id` [js/ide.js](https://github.com/judge0/ide/blob/master/js/ide.js)

:heart:  your work !!

[2017-02-03 17:36] hermanzdosilovic commented on #1
Hi @rajmani1995,

Thanks for your issue, I am still and currently working on Judge0 API which is behind this Judge0 IDE.

In a few days I will deploy new Judge0 API. For now please visit and try old http://judge0.com

Thanks :smiley:

PS: I will update you in this issue when everything is fixed and ready. Stay tuned.

[2017-02-05 03:38] hermanzdosilovic commented on #1
Hey @rajmani1995. Issue resolved. I hope you will enjoy http://ide.judge0.com and other Judge0 services. :smile:

[2017-02-05 03:38] #1 closed

[2017-08-20 11:48] john9o opened #2 "Compiling problem"
I have installed your judge 0IDE I have not compiling any code it shows an error could u please tell me how to install API on cpanel to get that ide to compile the code on web not localhost

[2017-08-20 11:49] john9o commented on #2
![img_4260](https://user-images.githubusercontent.com/31181350/29494609-ad0d88be-85cb-11e7-8788-3760d4b9498b.PNG)
Like this

[2017-08-20 11:52] john9o commented on #2
![img_4260](https://user-images.githubusercontent.com/31181350/29494641-18e1732a-85cc-11e7-8f23-3f795195d1ea.PNG)
Like in this webpage

[2017-08-21 05:33] siddarth9 opened #3 "compiling issue"
![img_4260](https://user-images.githubusercontent.com/31200079/29504869-6b7e5636-8660-11e7-8a36-7bb5b3088155.PNG)
I have installed your judge 0IDE I  am not able to compiling any code it shows an error could u please tell me how to install API on cpanel to get that ide to compile the code on web not localhost
 Could u please instruct me to install API to the ide on cpanel

[2017-09-15 13:59] hermanzdosilovic commented on #3
Hi @siddarth9,

Instructions on how to install API on your server can be found [here](
https://github.com/judge0/api#quick-production-setup). And if you want to
change API endpoint of Judge0 IDE in your local environment, then please
comment [this](https://github.com/judge0/ide/blob/master/js/ide.js#L99)
line and refresh Judge0 IDE in your browser.

On Mon, 21 Aug 2017 at 07:33 siddarth9 <notifica

[2017-09-15 14:00] #3 closed

[2017-10-06 18:48] hermanzdosilovic opened #4 "Resizable editors"
There are currently three editors: source code, input and output editor. Each of them cannot be resized.

It would be great if each editor could be resized. Source code editor in up/down direction, and input and output editor in left/right direction.

[2017-10-06 18:56] manaswinidas commented on #4
I am interested. Can I make a PR?

[2017-10-06 18:58] hermanzdosilovic commented on #4
@manaswinidas of course!

[2017-10-06 19:13] hermanzdosilovic opened #5 "Editor themes"
It would be cool if we could change editor theme with using [CodeMirror](https://codemirror.net/demo/theme.html).

User would see dropdown (in navbar) of avaliable themes and when he selects his theme whole interfaces changes in that style.

[2017-10-06 19:15] hermanzdosilovic opened #6 "Vim mode"
User should be able to enable/disable vim mode in Judge0 IDE.

We could use [CodeMirror](https://codemirror.net/demo/vim.html) built in functionality for this as we already use CodeMirror for our editors.

[2017-10-06 19:18] dgarvit commented on #5
I'd like to work upon this!

[2017-10-06 19:22] hermanzdosilovic commented on #5
@dgarvit you are welcome! :smile:

[2017-10-06 20:28] ron-popov commented on #6
I would like to work on this.

[2017-10-06 20:29] ron-popov opened #7 "Settings Page"
A settings page that will contain all of the ide's settings (vim mode toggle, theme selection box, etc ...)

[2017-10-06 20:30] hermanzdosilovic commented on #6
@ron-popov go ahead! :smile:

[2017-10-06 20:33] hermanzdosilovic commented on #7
@ron-popov great idea! I think we should wait for these features to be implemented and then you can start working on it.

Instead of settings page, what do you think about placing a toolbar below navbar?

[2017-10-07 08:10] ron-popov commented on #7
I think it will make the page look more crowded , i prefer just placing the button on the current navbar and then moving them to the settings page

[2017-10-07 12:05] hermanzdosilovic commented on #7
I agree, it would look more crowded. I think the most appropriate solution would be to use [modals](https://getbootstrap.com/docs/3.3/javascript/#modals) and not special settings page.

[2017-10-07 20:44] hermanzdosilovic commented on #5
@dgarvit any progress with this?

[2017-10-08 03:53] dgarvit commented on #5
yup. but on doing it, only the side bar seems to change, text area remains white. font color changes too. so, is that okay, or as I am guessing, the text area color should change too?

[2017-10-08 10:49] hermanzdosilovic commented on #5
@dgarvit text area color should change too. Try removing [this](https://github.com/judge0/ide/blob/master/css/ide.css#L35) line.

[2017-10-08 19:51] ron-popov commented on #6
I don't know why but vim mode doesn't work for me , any chance you changed something that broke it ? because it worked on my forked repo.

[2017-10-08 19:55] hermanzdosilovic commented on #6
You tried it on https://ide.judge0.com?

[2017-10-08 20:01] ron-popov commented on #6
Yes

[2017-10-08 20:04] hermanzdosilovic commented on #6
That's wierd. Try doing hard refresh. Maybe button doesn't save its state because you have third party cookies disabled.

[2017-10-08 20:33] ron-popov commented on #6
Works now , thanks 😄
I think you can now close this issue.

[2017-10-08 20:42] ron-popov commented on #7
I will work on this feature.

[2017-10-08 20:45] hermanzdosilovic commented on #7
@ron-popov great! But make sure you have latest master without merge commits. In the last PR i had to rebase your commits :smile:

[2017-10-09 04:02] dgarvit commented on #5
Removing that line didn't work.

[2017-10-19 14:17] zbeekman opened #15 "If you have C/C++ from GCC Adding Fortran should be easy"
Right? If so consider this a feature request 😛

[2017-10-19 15:06] hermanzdosilovic commented on #15
Sure! :smiley:

I suppose [here](https://github.com/judge0/api-base/blob/master/Dockerfile#L30) Fortran should be listed along with c and c++?

How do I compile and run Fortran with gcc? Can you also give me an example with hello world program?

Is there any alternative to gcc for Fortran?

[2017-10-19 15:38] zbeekman commented on #15
Exactly, the configure flag needs to be changed to `--enable-languages=c,c++,fortran`.

Many flags are shared between gcc and gfortran. Here is a simple hello world program.

[code]

You can compile with `gfortran -o foo foo.f90 -std=f2008 -ffree-line-length-none -fcoarray=single`.  The `-stdf2008` flag isn't really needed, and if you get rid of the calls to `this_image()` and `num_images()` you d

[2017-10-19 16:49] hermanzdosilovic commented on #15
Thank you! I will add Fortran in the next release :smiley:

[2017-10-24 16:39] kristijanbartol opened #16 "Add numpy (and Tensorflow / other?) support to Python 2 and 3"
Could be possible to easily integrate additional python images to support some machine learning / deep learning tools with at least CPU support. Will investigate as I found: https://hub.docker.com/r/tensorflow/tensorflow/.

[2017-10-24 16:42] kristijanbartol commented on #16
Issue: might be computationally heavy for judge0 to run possible big matrix operations.

[2017-10-24 19:57] hermanzdosilovic commented on #16
@kristijanbartol Great feature request!

I will do my research and let you know when and how tensorflow, numpy, scipy and other ML and DL libs will be supported!

[2017-11-02 18:00] #7 closed

[2018-05-29 06:33] adhavalboy opened #17 "Stuck at Running"
When we submit code and click on submit button it stuck at running phase, may problem with API ?

[2018-05-29 20:08] hermanzdosilovic commented on #17
Hi @adhavalboy,

Digital Ocean had network maintenance (BLR1, 2018-05-30 16:30 UTC). After that workers didn't know how to connect to database. Every submission you made is now completed.

Judge0 API is now functional again. Thanks for reporting this issue! :muscle:

BR,
Herman

[2018-05-30 04:57] adhavalboy commented on #17
yeah thanks to you also :)

[2018-05-31 04:45] adhavalboy commented on #17
Again stuck !!

[2018-05-31 09:47] hermanzdosilovic commented on #17
Hey @adhavalboy,

I have added better recovery mechanism to workers when things like this happen. Thanks for your report. Issue is now fixed and should not happen again if there is a network problem with DO droplets.

BR,
Herman

[2018-05-31 09:50] #17 closed

[2018-11-24 14:24] adityacoder007 opened #18 "max cpu_time_limit is not excceding 5s"
max cpu_time_limit is 5. It should be 15 as per the value of max_cpu_time_limit.

Thanks for all your hard work.

[2018-12-06 21:48] adityacoder007 opened #19 "API is down"
Hi,
Great work!

Your API is not working from your IDE is down. could you check?
https://ide.judge0.com/

[2018-12-06 21:53] adityacoder007 commented on #19
Start working now again. Not sure of the exact issue by I was seeing same submission request was getting called in a loop.

[2018-12-13 14:55] mamat-rahmat opened #20 "Change the filename of source code"
Currently, if we download the source code the filename always main.{ext}
It would be nice if we can change the filename in the editor

[2019-01-02 08:08] aditya999goel commented on #19
Again your IDE is down...

[2019-01-02 08:08] aditya999goel commented on #19
https://data.judge0.com/ itself if not loading..

[2019-01-04 07:10] aditya999goel opened #21 "Judge0 IDE is down"
Your IDE is down. Please check:
https://ide.judge0.com/

[2019-01-04 08:37] hermanzdosilovic commented on #19
Hi @aditya999goel,

API and IDE are now up and running. Sorry for the troubles.

[2019-01-04 08:37] #19 closed

[2019-01-04 08:52] aditya999goel commented on #21
Thank you! Great work.

[2019-01-04 08:52] hermanzdosilovic commented on #20
Hi @mamat-rahmat,

I am not sure but I think that your browser can do that for your if it asks you where do you want to save your file. Check for your browser settings please.

[2019-01-04 08:52] #20 closed

[2019-01-04 08:59] hermanzdosilovic commented on #18
Hi @adityacoder007,

`max_cpu_time_limit` value that you get (https://api.judge0.com/config_info) is the maximum `cpu_time_limit` you could set when making a new submission.

Judge0 IDE uses default `cpu_time_limit` which is `2` as per the data the above link gave us.

[2019-01-04 08:59] #18 closed

[2019-01-04 09:09] aditya999goel commented on #18
Yes, I know that config. But when cpu_time_limit is set to 15 while making your API call, the program still runs for max 5sec.

`"cpu_time_limit":"15","cpu_extra_time":"2",`

Time Limit Exceeded 5.052s, 252KB

Tried for:
`for (;;);`

[2019-01-04 09:40] hermanzdosilovic commented on #18
That is because `wall_time_limit` is set to 5 seconds. Set `wall_time_limit` to 20 (allowed max. is also 20) and let me know if it works.

[2019-01-04 09:42] hermanzdosilovic commented on #18
Take a look [here](https://api.judge0.com/#submissions-submission) for the explanation about `wall_time_limit` flag.

[2019-01-04 11:34] aditya999goel commented on #18
yep. Works now. Thanks.

[2019-02-07 05:30] adhavalboy commented on #17
many facing this issue!! hope you will solved it permanent.

[2019-02-07 07:44] aditya999goel commented on #21
It's down again...

[2019-02-07 08:19] suriyakiraan commented on #21
ya its not working

[2019-02-07 08:20] suriyakiraan commented on #21
@aditya999goel , which state are you from?

[2019-02-07 08:30] hermanzdosilovic commented on #17
Hi @adhavalboy,

This is solved. What problems are you experiencing? Are you running your own instance of Judge0 API?

[2019-02-07 13:42] suriyakiraan commented on #21
@hermanzdosilovic, Thanks for the compiler. It's awesome. Can I make the execution in my Cpanel? I am trying to run the compiler for my students. I would like to contribute as a donation in the future. How many submission (roughly) can the server handle at a time?

[2019-02-07 14:58] suriyakiraan commented on #21
No problem @hermanzdosilovic, thanks for the response by the way

[2019-02-26 06:52] Radhakrishanan opened #22 "Dynamic Source Editor"
I want to display Dynamic questions and Judge0 source Editor on same page
For Example:
Multiple Questions followed by multiple Source Editors

Issue:
First Question Source Editor Only Enabled  and working properly Others not working.

Please let me help with this issue.

[2019-03-08 19:56] #16 closed

[2019-03-08 19:57] #5 closed

[2019-03-08 19:57] #4 closed

[2019-03-08 19:57] hermanzdosilovic commented on #22
Let's continue discussion [here](https://github.com/judge0/api/issues/66).

[2019-03-08 19:57] #22 closed

[2019-03-21 14:36] adhavalboy opened #23 "Save error"
when we press ctrl+s then the ouput message is as per below
[code]

[2019-03-22 20:35] hermanzdosilovic commented on #23
I am using ptpb to store snippets, but author and maintainer decied to shutdown the service - [link](https://github.com/ptpb/pb/issues/246). I will think about deploying my own instance of ptpb.

[2019-03-23 07:25] adhavalboy commented on #23
@hermanzdosilovic RIP ptpb . Is there any other alternate way to store URL?

[2019-03-24 19:54] adhavalboy commented on #23
@hermanzdosilovic can we use https://github.com/PrivateBin/PrivateBin this service?

[2019-05-13 07:31] malcolmjr96 opened #24 "Very Slow when running code"
Running Judge0/ide on local and webhost and it's very slow to run the code, am I missing something?

[2019-05-13 16:09] hermanzdosilovic commented on #24
Hey @malcolmjr96,

I have restarted Judge0 API. Can you please try again?

Can you also describe your local setup?

[2019-05-13 18:19] malcolmjr96 commented on #24
Yes, I will when I get home!

But for my local setups I’m using xampp and created a directory where I uploaded IDE files. Site works great but won’t run any code.

[2019-05-16 02:37] malcolmjr96 opened #25 "Is it possible to host compiler on own hosts instead of using API?"
Hi is possible that I can make the code Compile on my site rather than using an API? I find the API works in waves. One point it’s fast next it’s crawling.

[2019-05-16 17:45] hermanzdosilovic commented on #25
Hey @malcolmjr96,

yes it is. Take a look at releases page on Judge0 API: https://github.com/judge0/api/releases/tag/v1.1.5.

[2019-05-16 17:45] hermanzdosilovic commented on #24
Can you give me screenshot of your web console after you click "Run" in IDE?

[2019-05-16 21:02] malcolmjr96 commented on #24
Yes of course, I’ll send it to you when I get homeb!

[2019-05-27 06:41] adhavalboy commented on #23
any updates on it?

[2019-06-10 19:34] malcolmjr96 commented on #24
This seems to be fixed sorry for the delay!

[2019-06-10 19:34] #24 closed

[2019-06-10 19:35] malcolmjr96 commented on #25
Thank you!

[2019-06-10 19:35] malcolmjr96 commented on #23
I get the same error

[2019-06-12 11:48] #25 closed

[2019-06-12 11:50] hermanzdosilovic commented on #23
No updates currently yet. I need to see what would be the best solution for this. If there is some service similar to API of ptpb - let me know.

[2019-06-18 01:21] hermanzdosilovic commented on #23
This is now fixed with [v1.3.5](https://github.com/judge0/ide/tree/v1.3.5).

[2019-06-18 01:21] #23 closed

[2019-06-18 15:31] adityacoder007 commented on #23
Any specific reason you're using "long" instead of "short" for the generated url?

`{"url": "https://pb.judge0.com/Oc9A.json", "long": "AATqWN8uMItw0DzxAxWYkCdjOc9A", "short": "Oc9A", "uuid": "e4efec78-07d3-4c49-bdcf-aa63b9f7c5f0", "status": "created", "digest": "04ea58df2e308b70d03cf103159890276339cf40", "date": "2019-06-18T15:29:11.074214+00:00", "size": 196}`

[2019-06-18 15:37] hermanzdosilovic commented on #23
I don't remember why I decided to use long instead of short url. Seems to me that both work just fine (https://ide.judge0.com/?Oc9A).

[2019-06-27 13:19] kaushalmodi opened #26 "Request to have Emacs mode as well"
Hello,

I see that the judge0 IDE has Vim mode. Can we also please have an Emacs mode?

Ref: https://github.com/nim-lang/Nim/issues/11599#issuecomment-506339018

[2019-06-27 13:23] kaushalmodi opened #27 "Request to show compile-time messages too [Nim]"
Can you also have a window to show the compile time messages too? They are very important when designing macros in Nim.

E.g. I'd like to see what's printed on stdout when just compiling https://nim.ide.judge0.com/?AJNXlTnyLuUARvFY5PvGg_WwCZXt.

Right now, which I hit Run, I see nothing in the output. In that example, I need to look at the messages during compile time as shown below.

![image](htt

[2019-06-28 16:32] hermanzdosilovic commented on #27
Solved and deployed! Enjoy @kaushalmodi :smiley:

[2019-06-28 16:39] kaushalmodi commented on #27
Hello, thanks for looking into this.. though, looks like it shows the compilation log only if the run log is empty.

So this case does not work: https://nim.ide.judge0.com/?AMvoP6Fdr0OkFmVQ_ftlrU4YjZU6 (here, I am missing out to see the debug echos for how macros work).

The compilation log is useful to review even when the run log is non-empty.. to see how the macro unrolling happens at compile t

[2019-06-28 17:24] hermanzdosilovic commented on #27
Oh, okay I now understand now better. Do you think that multiple tabs (one for each kind of output) could solve this?

[2019-06-28 17:35] kaushalmodi commented on #27
I believe so. I don't have any experience designing UI's, but the user should have an option to look at the compile log and run log separately, I believe.

Probably something like this can be done:

- If compilation fails, highlight the compile log window
- If compilation passes, but run log is empty, highlight the compile log window
- Else highlight the run log window

[2019-07-07 07:36] GalaxyZpj opened #28 "Long Input not working"
I recently tried a code with a very long stdin
It outputs error, Any solution?
Here's the code
[code]
This link contains the input testcase: https://hr-testcases-us-east-1.s3.amazonaws.com/8382/input03.txt?AWSAccessKeyId=AKIAJ4WZFDFQTZRGO3QA&Expires=1562489870&Signature=9WAGMM9%2Ftargc%2FgXD7YemRS%2BQGc%3D&response-content-type=text%2Fplain

[2019-07-07 07:44] GalaxyZpj commented on #17
Same issue with me, sometimes it takes forever to receive response from the server.
I am currently building a Django project using Judge0 API using which i can evaluate different testcases for a submission.
sometimes the server just stops responding.

[2019-07-07 08:47] GalaxyZpj commented on #28
Sometimes for long testcases, it gives broken pipe error
![Screenshot 2019-07-07 at 2 16 35 PM](https://user-images.githubusercontent.com/42998576/60766084-e5708680-a0c1-11e9-9615-f9bb23b05341.png)

[2019-07-07 11:07] hermanzdosilovic commented on #17
I have restarted Judge0 API and problem is solved now.

[2019-07-07 11:08] hermanzdosilovic commented on #28
I cannot open link for test case you gave me.

[2019-07-08 03:44] GalaxyZpj commented on #28
[Code.docx](https://github.com/judge0/ide/files/3366601/Code.docx)
[Testcase.docx](https://github.com/judge0/ide/files/3366602/Testcase.docx)

[2019-07-09 10:34] GalaxyZpj commented on #28
This when run on the Judge0 IDE or API, returns None.
But when tried it with the deployed instance, works perfectly fine.

[2019-07-09 13:16] adhavalboy opened #29 "Modified URL"
Can we create manual URL instead of random URL?

[2019-07-09 13:55] adityacoder007 commented on #29
[code]

[2019-07-09 22:25] hermanzdosilovic commented on #29
@adhavalboy does the comment of @adityacoder007 answers your question? I don't think that I would add this feature to public Judge0 IDE, but you can add it to your own instance if you want.

[2019-07-09 22:28] hermanzdosilovic commented on #27
I am working on a new Judge0 IDE that will use [Golden Layout](https://github.com/judge0/api/blob/master/docker-compose.prod.yml#L21-L22) and [Monaco editor](https://github.com/Microsoft/monaco-editor). This feature will be added there. I hope it will be released by the end of the month.

[2019-07-09 22:30] hermanzdosilovic commented on #26
I will add that in the near future: https://github.com/judge0/ide/issues/27#issuecomment-509833402

[2019-07-11 12:24] hermanzdosilovic commented on #28
I have Nginx in front of Judge0 API instance. Nginx has 1MB by default for `client_max_body_size`. I can increase it to `10MB`. Would that be enough for you?

[2019-07-11 12:42] GalaxyZpj commented on #28
Not required now. I am working on deployment of my own instance of Judge0 API. Now I wanna know how to add more workers. Seeing the api working, I figured out that one worker can only work at one submission at a particular time. Correct me if i'm wrong. I'm submitting multiple testcases at once by using threads, but this makes no difference until i have more workers. Pretty new to docker as well.

[2019-07-11 13:01] hermanzdosilovic commented on #28
Take a look at this discussion: https://github.com/judge0/api/issues/72

[2019-07-12 04:06] adhavalboy commented on #29
Yeah thank you :)

[2019-07-12 04:06] #29 closed

[2019-07-13 19:34] GalaxyZpj commented on #28
What about if i wanna host the api n all the workers on a single system?

[2019-07-13 21:58] hermanzdosilovic commented on #28
Take a look at COUNT variable in judge0-api.conf file. 🙂

On Sat, 13 Jul 2019, 21:34 Pranav Jain, <notifications@github.com> wrote:

[2019-07-14 09:43] GalaxyZpj commented on #28
Thats alright, but for that we need to have a copy of the worker container, i tried to do that but it just makes a copy of the api container, not the worker container. Any suggestion regarding this?

[2019-07-14 13:20] GalaxyZpj commented on #28
Ok, Now I am able to add 2 workers, one by default when using the config n compose in the 1.2.0 release, and another one using the worker zip provided in this post. I wanted to add more workers.
So i used the same compose file in the zip to add another worker, but it just recreates the worker which was added by using same compose file earlier.
Is there a way to rename the worker container?
I have

[2019-07-14 14:36] GalaxyZpj commented on #28
Was successful in adding 5 workers.
It wasn't a proper way, but it worked.
ThankYou.

[2019-07-14 14:36] #28 closed

[2019-08-28 23:48] hermanzdosilovic commented on #28
New release of Judge0 API v1.2.1 contains a bug fix for this issue. Please
take a look at it.

On Sun, 14 Jul 2019, 16:36 Pranav Jain, <notifications@github.com> wrote:

[2019-09-07 22:58] hermanzdosilovic commented on #27
Hey @kaushalmodi,

this feature is now available with Judge0 IDE [v2.0.0](https://github.com/judge0/ide/releases/tag/v2.0.0). [Check it out](https://nim.ide.judge0.com/?AMvoP6Fdr0OkFmVQ_ftlrU4YjZU6).

[2019-09-08 02:18] kaushalmodi commented on #27
Thanks! Now I can see the compile outputs separately. Nice!

[2019-09-08 02:18] #27 closed

[2019-09-09 05:17] malcolmjr96 opened #30 "Any idea why Judge0 IDE is not displaying correctly?"
Hello,

Recently uploaded the new release and was met with an odd-looking layout: https://prnt.sc/p3lplm

I tried it on my localhost as well and it doesn't appear to be showing this problem, so I'm assuming it is server related. How might I fix this?

[2019-09-09 06:07] hermanzdosilovic commented on #30
Try doing a hard refresh (
https://www.ideamktg.com/blog/what-is-a-hard-refresh/).

On Mon, 9 Sep 2019, 07:17 Malcolm, <notifications@github.com> wrote:

[2019-09-09 19:02] malcolmjr96 commented on #30
Still the same issue.

[2019-09-09 19:03] hermanzdosilovic commented on #30
I don't understand. Today I tried opening your IDE instance and it worked
fine. Can you try deploying it under some other subdomain, e.g. ide2.

On Mon, 9 Sep 2019, 21:02 Malcolm, <notifications@github.com> wrote:

[2019-09-11 01:27] malcolmjr96 commented on #30
So I the instance from my ide.codeforum.org to codeforum.org/ide and it worked. Not sure if IDE.codeforum.org is blocking communications?

[2019-10-30 12:04] gslicer opened #31 "Upgrade 'vlang.ide.judge0.com' to latest release"
Currently the newest version is 0.1.12 whereas 0.1.22 has been released, therefore please
a) update to the most recent version
OR preferably
b) name it 0.1.x (until 0.2.x will be available) and because of the early development stage where changes happen permanently, please apply "v up" regulary (every day or even as frequent as 1h, it takes just few seconds to update)

(optionally) in case of b) o

[2019-11-01 00:32] hermanzdosilovic commented on #31
Hi @gslicer,

I have created new version of Judge0 API that includes latest V version and automatically updates it with `v up` every hour.

Take a look at https://vlang.ide.judge0.com. Using compiler flag `-v` you can check the V version.

Let me know if you experience any problems or if you have any other feedback on this.

BR,
Herman

[2019-11-01 00:37] hermanzdosilovic commented on #30
Hi @malcolmjr96,

as I can see your https://ide.codeforum.org now works as expected. :smiley:

Closing this.

[2019-11-01 00:37] #30 closed

[2019-11-01 12:23] medvednikov commented on #31
Thanks @hermanzdosilovic

[2019-11-01 12:28] medvednikov commented on #31
Just wondering, what do you use for sandboxing @hermanzdosilovic ?

[2019-11-01 13:37] hermanzdosilovic commented on #31
Hi @medvednikov,

I am using [isolate](https://github.com/ioi/isolate) for sandboxing.

[2019-11-01 13:41] hermanzdosilovic commented on #31
Closing this issue since it has been resolved.

[2019-11-01 13:41] #31 closed

[2019-11-04 19:56] hermanzdosilovic commented on #26
Hey @kaushalmodi,

I have added Vim and Emacs support on https://ide.judge0.com. Please check it out let me know does it work for you as expected.

If you are not sure if Judge0 IDE behaves as expected, please consult with https://editor.bitwiser.in. I am using their plugin for both [vim](https://github.com/brijeshb42/monaco-vim) and [emacs](https://github.com/brijeshb42/monaco-emacs).

Thanks!

H

[2019-11-04 20:29] kaushalmodi opened #32 "Nim not available as an option on https://ide.judge0.com"
Hello,

I was just going to try out the Emacs support on https://ide.judge0.com/, when I realized that Nim is one of the options in the langauge dropdown there.

The only way to access Nim Playground is by going to it subdomain: https://nim.ide.judge0.com/.

Is there a limitation that prevents Nim Playground from being accessed from https://ide.judge0.com/ as well?

[2019-11-04 20:33] kaushalmodi commented on #26
The Ctrl+N (`C-n`) binding in Emacs should act like down arrow. But on Firefox, the Ctrl+N is stolen by the browser (Firefox) to open a new window.

The Ctrl+P (`C-p`) binding to act like up arrow works fine though (the browser is not stealing that binding to open the print dialog (as expected)).

Thanks for working on this.

By the way, I use Nim and was surprised to see Nim not available on that

[2019-11-04 20:45] hermanzdosilovic commented on #26
Thanks for your fast review @kaushalmodi!

I will consider this feature as *working* because `C-n` cannot be cached by JavaScript.

I separated Nim from Judge0 IDE because Nim isn't currently in Judge0 API. At first Nim was added as experimental language to feature Judge0 but at the same time give Nim community something useful. I will think about adding Nim to Judge0 IDE (and API) and will let yo

[2019-11-04 20:45] #26 closed

[2019-11-04 20:49] hermanzdosilovic commented on #32
Currently the only limitation is that Nim is not a part of official Judge0 API, but rather there exists a special release of Judge0 API that includes just Nim.

As a first step I can add Nim as an option to Judge0 IDE, but it will use API from https://nim.api.judge0.com instead of https://api.judge0.com.

I can then redirect https://nim.ide.judge0.com to https://ide.judge0.com.

[2019-11-05 19:44] hermanzdosilovic commented on #32
Hi @kaushalmodi,

Nim is now available on Judge0 IDE (https://ide.judge0.com). Old site is still available at https://old.nim.ide.judge0.com but https://nim.ide.judge0.com redirects to Judge0 IDE.

[2019-11-05 19:45] #32 closed

[2019-11-05 19:46] kaushalmodi commented on #32
Thanks for this quick followup!

[2019-11-06 14:38] kaushalmodi commented on #26
I tried the Emacs mode more today with basic stuff but none of these bindings work:

- `C-x h` (Ctrl+X, release, press H) : select all
- `C-y` - Paste
- `C-w` - Cut (this kills the tab!!)

[2019-11-06 14:52] hermanzdosilovic commented on #26
Hey @kaushalmodi,

I was able to reproduce this but it seems to me that [monaco-emacs](https://github.com/brijeshb42/monaco-emacs) plugin that I use doesn't work as expected.

Can you please open an issue there?

[2019-11-27 20:15] ernierasta opened #33 "V panic: No such file or directory"
Hi!
Just in case You do not know, v is panicking when I run helloworld example:
[code]

[2019-11-27 21:00] hermanzdosilovic commented on #33
Hi @ernierasta,

I know but don't know why. @medvednikov can you please take a look at this error and explain what is going on? What changed in V that is producing this error?

[2020-01-02 03:50] #33 closed

[2020-01-05 15:44] zangman opened #34 "[Feature Request] Have optional setting which combines stdout, stderr and compiler output into a single window"
Having a single output reduces clicks and makes it more similar to a bash terminal.

[2020-01-05 18:40] hermanzdosilovic commented on #34
I will add this in the next release. This will require some work on Judge0 API.

Until then, you can now reorder all the panes (drag and drop). Hope that helps for now.

[2020-01-07 05:06] wanirauf opened #35 "getting this error after clicking run button"
{
    "readyState": 0,
    "status": 0,
    "statusText": "error"
}

[2020-01-07 10:50] soobinjeon opened #36 "changing language by url automatically"
I would like to change language of IDE by url source.
for example,  if I type "http://ide.judge0.com/?language=java", language should be changed to 'java' automatically.
Is there any way to do it?

thanks,

[2020-01-07 13:29] hermanzdosilovic commented on #36
Currently not, but you can save a snippet with the code and language you want and then always open that snippet. For example: https://ide.judge0.com/?mcVl

[2020-01-07 13:29] hermanzdosilovic commented on #36
Can you explain why would this feature be useful to you? Are you opening Judge0 IDE from some other website?

[2020-01-07 13:32] hermanzdosilovic commented on #35
Hi, it seems to that [Judge0 IDE](https://ide.judge0.com/) and[ Judge0 API](https://api.judge0.com/) are [fully operational in the last 48 hours](https://status.judge0.com/). When did you saw this error? What language did you use?

[2020-01-08 04:26] soobinjeon commented on #36
Yes, we already set Judge0 IDE on our server and we would like to open it other our website for educating. Thank you for your advise, I can open it by snippet. Thank you.

[2020-01-08 07:39] #36 closed

[2020-01-10 09:32] zenilharia26 commented on #35
For all languages, we are getting the same issue.

[2020-01-11 12:37] hermanzdosilovic commented on #35
Can I get the link to the website that uses public instance of Judge0 API where you get this error?

[2020-01-11 12:48] darshanc99 commented on #35
It's working fine now!

[2020-01-11 13:09] #35 closed

[2020-01-16 02:35] newerjc opened #37 "IDE GUI issue in Mobile devices"
Hi Herman,

When i try to open the IDE https://ide.judge0.com in mobile devices (chrome browser) I am facing a major issue with the GUI. 

Steps to reproduce:
1. Open https://ide.judge0.com/
2. Using the two fingers try to expand and collapse the IDE page. The GUI will get distorted and won't able to come to original length.

I guess there could an easy fix, so that GUI remains intact when a user

[2020-02-12 10:54] Altareq opened #38 "How do you run a script that has an external dependency?"
For instance an external ruby gem or a node module or a pypi.

[2020-04-07 13:45] hermanzdosilovic commented on #38
This is not possible in Judge0 IDE. For that you will need to run your own instance of Judge0 API that has those dependencies pre-installed. I am working on documentation on how to do this.

[2020-04-07 13:45] #38 closed

[2020-04-11 15:55] MD15 opened #39 "Bug PHP Code Injection"
Hello, i found PHP Code injection
![image](https://user-images.githubusercontent.com/36522826/79048445-46c41800-7c47-11ea-80ff-64b91ae144ee.png)
Iam using system() function in PHP to test it, when run simple php code injection payload to read /etc/passwd
`<?php system('cat /etc/passwd'); ?>`
The output will be like this
![image](https://user-images.githubusercontent.com/36522826/79048470-75da8980-

[2020-04-11 18:19] hermanzdosilovic commented on #39
That is OK, code is run in a sandboxed environment. The same thing can be achieved with [Bash](https://ide.judge0.com/?KjCO).

Thanks for the heads up though and let me know if you found a bug that allowed you to exploit the IDE or API.

[2020-04-11 18:19] #39 closed

[2020-04-18 14:13] kerolloz opened #40 "Vlang is not working properly"
![image](https://user-images.githubusercontent.com/36763164/79640022-8d59cb00-818f-11ea-9cfd-b99b6d05fd2f.png)

[2020-04-18 21:03] hermanzdosilovic commented on #40
Hi @kerolloz,

Thank you.

I am aware of that, I am trying to fix that for a few months now. This is an API problem that I need to look into more. :)

[2020-04-26 16:47] gouseferoz opened #41 "Escape sequences not working correctly for the C language"
Hi,

I was trying out the escape sequences in the IDE, when i used this code, i don't see the expected output.

https://ide.judge0.com/?2Ikz

The output should be 1245, but i get 12345

Can you please look into this.

-Feroz.

[2020-04-26 17:02] hermanzdosilovic commented on #41
Hi @gouseferoz,

I can confirm that I can reproduce your issue.

But let's see what happens when we do this in a terminal locally.

1. Create a file `main.c` with the following content:
[code]

2. Compile it:
[code]

3. Run it to get the expected results:
[code]

4. Now redirect the output to a file `out.txt` to get again expected result after `cut` command.
[code]

5. But, let's see what is writt

[2020-04-30 22:18] kerolloz opened #42 "Feature request: open a file from GitHub repo or GitHub gist"
something like

https://ide.judge0.com/?github_file=https://github.com/kerolloz/random-dog-image/blob/master/script.js
or
https://ide.judge0.com/?gist=https://gist.github.com/kerolloz/3b316ff9a51752af1f6b3e6ddb770cf0

so these links should enable me to open the files and run them on judge0 ide

[2020-05-07 02:07] hermanzdosilovic commented on #34
Hey @zangman,

this feature is now available. Go to "Settings" and check "Redirect stderr to stdout". :)

[2020-05-07 02:07] #34 closed

[2020-05-07 02:08] hermanzdosilovic commented on #40
Since I have problems with running V inside a isolate on a Judge0 API side, I have decided to discontinue V for now.

[2020-05-07 02:08] #40 closed

[2020-05-18 06:03] 98982872 opened #43 "Feature Request: Multiple windows"
Like godbolt, it would be great to have multiple editor in the same window. This would make comparison between languages easier.

[2020-05-18 17:35] hermanzdosilovic commented on #43
Hi! Thanks for the suggestion, I will do my best to add support for that soon.

[2020-05-27 14:39] brainsor opened #44 "Local File saving system"
I have downloaded the the IDE source and I want a file opening and file saving system for my PC. How to do that?

[2020-05-29 19:56] hermanzdosilovic commented on #44
Hi @brainsor,

this IDE cannot be used as local IDE such as for e.g. Visual Studio Code or Atom. It is rather online code editor.

[2020-05-29 19:56] #44 closed

[2020-05-30 13:34] udaykumar-8329 opened #45 "How to deploy in local server"
Hi, I would like to use it in local server instead of online, How could i deploy this in local server.

[2020-06-04 04:00] hiCasper opened #46 "RapidAPI Support"
Since June 1st, it can't work with public api, it will be easier to deploy if you can support RapidAPI (like clone the code, fill the auth token and ready-to-use).

[2020-06-04 16:24] hermanzdosilovic commented on #46
What you could do locally before deployment is the following:
1. Change the base URL [here](https://github.com/judge0/ide/blob/02d9560be8/js/ide.js#L1) to value `https://judge0.p.rapidapi.com`.
2. Add headers `X-RapidAPI-Host` and `X-RapidAPI-Key` [here](https://github.com/judge0/ide/blob/02d9560be8/js/ide.js#L304-L323), [here](https://github.com/judge0/ide/blob/02d9560be8/js/ide.js#L390-L409) and

[2020-06-04 16:27] hermanzdosilovic commented on #45
I don't have official instructions for this but you should clone or download a project and serve it's content with the HTTP server like Nginx or Apache, or any other web server.

You could for example use Python to serve you the content: `python3 -m http.server 8000`. Detailed instructions are [here](https://stackabuse.com/serving-files-with-pythons-simplehttpserver-module/).

[2020-06-04 16:27] #45 closed

[2020-06-04 16:29] #46 closed

[2020-07-07 07:55] langonginc opened #48 "Some thing went wrong when I click Run button"
Return a checkbox and the information is:

[code]

[2020-07-07 14:53] Atchaya-kct opened #49 "Something went wrong when I click Run button"

[2020-07-07 15:30] hermanzdosilovic commented on #48
How can I reproduce this on https://ide.judge0.com?

[2020-07-07 15:30] hermanzdosilovic commented on #49
How can I reproduce this on https://ide.judge0.com?

[2020-07-14 14:31] armornet commented on #46
can you please let me know how to add the code and below which line..

[2020-07-14 15:06] hermanzdosilovic commented on #46
Hi @armornet,

1. Clone this repository.
2. Checkout to `rapidapi` branch.
3. Add you API key to [here](https://github.com/judge0/ide/blob/rapidapi/js/ide.js#L5).

Note: You can get your API key here: https://rapidapi.com/hermanzdosilovic/api/judge0

[2020-07-20 16:15] Priyajit08 commented on #48
for me it says
{
    "readyState": 4,
    "responseText": "403 Forbidden",
    "status": 403,
    "statusText": "error"
}
when I try running the code. The issue is not happening on https://ide.judge0.com. It's only in my self hosted IDE that this issue is occurring.
In the console it says -
jquery.min.js:2 POST https://secure.judge0.com/standard/submissions?base64_encoded=true&wait=false 403

[2020-07-22 15:38] DevelopedByAnurag opened #50 "Option to Embed code"
Sir is there any way to enable embed/share code by users ??

[2020-07-22 15:59] DevelopedByAnurag commented on #37
It looks like the Idle is not Mobile Friendly ...

[2020-07-27 09:14] lucyd42 opened #51 "How to use with local judge0 API server"
Hey,
Can anyone PLEASE help me figure out how to use local judge0 API (which is successfully running and compiling submissions), I just dont know which URL is to be replaced in the 'ide.js' file. What line do I change this to :https://github.com/judge0/ide/blob/02d9560be8/js/ide.js#L1    so that it uses my localhost instead of sending requests to the api.judge0.com.

I have hosted the ide code in

[2020-07-28 12:16] #48 closed

[2020-07-28 12:24] hermanzdosilovic commented on #50
You can save and share your code snippet with File -> Save or Ctrl + S, after that a URL will change in your address bar to something like this https://ide.judge0.com/?aPvX. Notice the last four characters, these are the snippet ID. You can now share that URL with your friend just as I shared the snippet with you now.

[2020-07-28 12:24] #50 closed

[2020-07-28 12:33] hermanzdosilovic commented on #51
This has been discussed on Discord and has been resolved.

For anybody else:
1. Read https://github.com/judge0/ide/issues/46#issuecomment-658234842
2. There is no support for IDE and Judge0 Extra.

[2020-07-28 12:33] #51 closed

[2020-08-12 13:19] PRANEETH-REDDY-23899 opened #52 "unable to run on local host can you please solve my problem"
unable to run the code through localhost
![Screenshot (247)](https://user-images.githubusercontent.com/50946773/90019766-7c980c80-dccc-11ea-8e26-e12837aff0a6.png)

[2020-08-12 18:13] hermanzdosilovic commented on #52
Can this https://github.com/judge0/ide/issues/46#issuecomment-658234842
help you?

On Wed, 12 Aug 2020, 15:19 NAKKA PRANEETH REDDY, <notifications@github.com>
wrote:

[2020-08-12 18:30] PRANEETH-REDDY-23899 commented on #52
How can i get a rapid API key is it paid or free?

On Wed, 12 Aug 2020, 23:43 Herman Zvonimir Došilović, <
notifications@github.com> wrote:

[2020-08-13 17:10] DevelopedByAnurag opened #53 "Information Regarding Minio"
Hey, I was Just upgrading IDE according to me my use case and in the code, I found Minio,judge0 but I am unable to understand its use case can you share some info on that?

[2020-08-25 08:59] Legodev opened #54 "Autoformating"
Hi,

@hermanzdosilovic can you estimate how much work would it be, to get an "Autoformat" button working?

I figured the easiest solution could be:
1. take the source, send it to the judge api
2. use [astyle](http://astyle.sourceforge.net/astyle.html) as "compiler"
3. write the output back to the Implementation window (which might be the hard part)

For the Background: I am evaluating Online IDEs

[2020-09-10 13:42] hermanzdosilovic commented on #54
Hi Ronny,

I am familiar with the MPI and you can see that I have added support for it in Judge0 for C, C++, and Python. I am not sure how you could make it work in Judge0 with support for multiple nodes. This seems a lot of work from my perspective.

But, back to your question about astyle.

For me, this is not much work to add support for running astyle for multiple or single file program, but f

[2020-09-23 07:29] Anil9080 opened #55 "error"
{
    "readyState": 4,
    "responseText": "403 Forbidden",
    "status": 403,
    "statusText": "error"
}

this type why given

[2020-09-25 10:35] hermanzdosilovic commented on #55
Hi @Anil9080,

please check this https://github.com/judge0/ide/issues/46#issuecomment-658234842

BR,
Herman

[2020-09-25 10:35] #55 closed

[2020-09-26 08:14] Anil9080 commented on #55
Which line impliment

On Fri, Sep 25, 2020, 16:05 Herman Zvonimir Došilović <
notifications@github.com> wrote:

[2020-10-07 06:57] bukyapavankumar commented on #52
ya me too previously i was able to run this without generating keys but now it requires it?

[2021-03-18 04:03] AnubhabMondal opened #57 "Unable to run "Python for ML" in my local"
![Screenshot (529)](https://user-images.githubusercontent.com/43597328/111570954-e3822480-87cb-11eb-9d09-224b7f1f77ec.png)
Hi Sir,
I cloned judge0/ide/rapidapi branch then add all credentials for judge0 extra CE. But when I run "Python for ML" code it gives me Error 403.
Is there any way to run "Python for ML" locally without using Docker?
Can Somebody please help me on this? @hermanzdosilovic @ro

[2021-03-24 12:45] AnubhabMondal commented on #57
@hermanzdosilovic @ron-popov Can you please put your valuable comment on that?

[2021-03-24 22:34] ron-popov commented on #57
@AnubhabMondal My last commit to this project was more than a year ago, so sadly no, I can't comment on that

[2021-05-07 12:12] adithraghavs opened #58 "Unable to run input() in Python"
I'm unable to run the input() function in Python here. This is my code:
[code]

[2021-05-08 21:46] hermanzdosilovic commented on #58
Hey @adithraghavs,

I was able to run your code.

![image](https://user-images.githubusercontent.com/7927278/117554387-926a1080-b057-11eb-9c9a-72c759410845.png)

Is there anything that I am missing here?

[2021-05-14 19:40] bholanathbarik9748 commented on #57
I have the same problem plz help us @hermanzdosilovic

[2021-05-14 19:42] hermanzdosilovic commented on #57
Checkout again with the latest commits and it should work.

[2021-05-14 19:42] bholanathbarik9748 opened #59 "IDe not work in localhost"
![Screenshot (240)](https://user-images.githubusercontent.com/71944044/118320970-91832400-b51a-11eb-8e6f-f7619b7d414e.png)
plz help me @hermanzdosilovic

[2021-05-14 20:55] hermanzdosilovic commented on #59
Checkout and clone the latest version of Judge0 IDE.

[2021-05-15 06:42] bholanathbarik9748 commented on #59
yes sir it's work ,Thank you

[2021-05-24 14:59] chandansgowda commented on #58
@hermanzdosilovic  Is there any way to run code in interactive mode? Like I want the program to take input while running. Is that possible?

[2021-05-24 21:55] hermanzdosilovic commented on #58
@chandansgowda unfortunately no that is not possible. Follow https://github.com/judge0/judge0/issues/273 for the updates on that matter.

[2021-05-24 21:55] #58 closed

[2021-05-29 10:11] azeng233 opened #60 "Online IDE can't import external Python Package Matplitlib"
The IDE cannot download the Python package Matplotlib on its own。
![image](https://user-images.githubusercontent.com/67224979/120066480-39ffbf00-c0a9-11eb-8a76-accde82e4913.png)

[2021-06-04 12:10] hrishikeshp7 opened #61 "Error Running The Code on Platform when Installed on Localhost"
When I installed Judge0 on localhost, It worked perfectly there was no problem but suddenly when i compiled the code , It gave me the error depicted in the screenshot . Please help me in fixing the error below
![main_full](https://user-images.githubusercontent.com/68657160/120799109-ea633c80-c55b-11eb-93e4-c8e913e306a6.png)

[2021-06-07 15:57] hermanzdosilovic commented on #61
Checkout and clone the latest version of Judge0 IDE.

[2021-06-07 15:57] #61 closed

[2021-06-07 16:05] hermanzdosilovic commented on #60
This feature has never existed in Judge0.

[2021-06-07 16:05] #60 closed

[2021-09-01 20:01] Ibrahimsamir112 opened #62 "J"

[2021-11-24 19:25] #57 closed

[2021-11-24 19:25] #59 closed

[2021-11-24 19:26] #62 closed

[2021-11-24 19:26] hermanzdosilovic commented on #53
It is used for fetching some custom dynamic info used in Judge0 IDE. It is not needed for Judge0 IDE to work.

[2021-11-24 19:26] #53 closed

[2021-11-24 19:27] #49 closed

[2021-11-24 19:28] hermanzdosilovic commented on #41
Closing due to inactivity.

[2021-11-24 19:28] #41 closed

[2021-12-15 12:00] Nidiots commented on #52
Its working fine in local , just change the url to local server in ide.js

[2022-01-26 20:56] TeaObvious commented on #54
We did not run MPI in parallel across multiple nodes, but we of course used parallel MPI Execution in a single node.

We modified it such, that you can't provide cmd parameters to the programm it self, instead the command line arguments are used to, for example, pass "-n 5" to mpirun.

Then we altered `judge0/db/languages/active.rb` a bit, such that it shows where the Code was executed: `run_cmd:

[2022-01-26 20:59] TeaObvious commented on #54
I've asked our former student, who worked on this Project, to report what he knows, i left my teaching position, hence i have no overview anymore.

[2022-01-27 16:13] XtremeDevX opened #63 "How do I contact you?"
Hey Herman,

First off, thank you so much for building judge0, it's an incredible tool and I can't thank you more for open-sourcing it. I scheduled a call with you through the website (there was a link and then I scheduled for basically now, however it doesn't seem like you are available at the moment). Do let me know where and how we can chat!

Appreciate it, and apologies for creating an issue -

[2022-02-09 14:34] Aaditya188 opened #64 "IDE Not Working"

[2022-02-10 07:49] tfjybj commented on #63
You can have a try.
https://judge0.com/#contact-us

Good luck.

[2022-02-10 09:46] kangshihang1998 commented on #64
您好，我也遇到了同样的问题。
我使用了如下两个解决方案，解决了这个问题。可以参考下我的这篇文章，有错误的地方希望给与指正。
https://blog.csdn.net/kangshihang1998/article/details/122865121?spm=1001.2014.3001.5501

[2022-02-10 09:50] kangshihang1998 commented on #52
我也遇到了这种情况，我把后端api 的服务器ip地址改成了和前端部署机器同一个网段。 就可以使用了

[2022-02-10 09:52] kangshihang1998 commented on #52
还有一点就是把 ide.js 里的 defaultUrl 地址改成你自己的后端服务器地址
例如：var defaultUrl = localStorageGetItem("api-url") || "http://192.168.96.252:2358";
这个是我本地修改之后的配置

[2022-02-10 10:42] #64 closed

[2022-02-10 16:38] hermanzdosilovic commented on #64
I have updated version of Monaco editor. It should work now.

[2022-02-10 22:29] #63 closed

[2022-02-10 22:30] #52 closed

[2022-03-03 08:49] zhubinsheng opened #65 "use docker-compose to set-up server"
DOCKERFILE:
`FROM nginx
VOLUME /tmp
WORKDIR /love_heart
ENV LANG en_US.UTF-8
RUN echo "server {  \
                      listen       80; \
                  #解决Router(mode: 'history')模式下，刷新路由地址不能找到页面的问题 \
                  location / { \
                     root   /var/www/html/; \
                      index  index.html index.htm; \
                      if (!-e \$request_filename) { \

[2022-03-03 08:50] zhubinsheng commented on #65
http://111.229.8.130:8180/
work good fast

[2022-03-03 08:50] #65 closed

[2022-03-11 00:59] zzb16888 opened #66 "Traceback (most recent call last): File "script.py", line 1, in <module> import turtle File "/usr/local/python-3.8.1/lib/python3.8/turtle.py", line 107, in <module> import tkinter as TK File "/usr/local/python-3.8.1/lib/python3.8/tkinter/__init__.py", line 36, in <module> import _tkinter # If this fails your Python may not be configured for Tk ModuleNotFoundError: No module named '_tkinter'"
Traceback (most recent call last):
  File "script.py", line 1, in <module>
    import turtle
  File "/usr/local/python-3.8.1/lib/python3.8/turtle.py", line 107, in <module>
    import tkinter as TK
  File "/usr/local/python-3.8.1/lib/python3.8/tkinter/__init__.py", line 36, in <module>
    import _tkinter # If this fails your Python may not be configured for Tk
ModuleNotFoundError: No module named

[2022-03-14 03:48] zzb16888 opened #67 "How to put all JS, CSS and font related files involved in this ide locally"
How to put all JS, CSS and font related files involved in this ide locally

[2022-03-16 22:46] ahmadhaidarahmad opened #68 "How can I add multiple coding tabs inside the IDE"
For example I need to open multiple tabs to write code in different languages is that applicable, if yes how can I achieve this approach. Thank you 🙏 @hermanzdosilovic @ron-popov

[2022-03-25 07:52] muharyns opened #69 "cannot input value"

[2022-08-07 09:22] ItzTalop opened #70 "Unauthorized (401) error"
problem when run code:
![image](https://user-images.githubusercontent.com/88987394/183284153-3c969a9a-dec1-4fc2-9431-0deacf5935a1.png)

[2022-08-31 19:57] Cyberghost5 commented on #70
I'm having the same issue here. Please any update about this?

[2022-08-31 22:12] hermanzdosilovic commented on #70
Hi @ItzTalop, @Cyberghost5. Where do you see that message?

[2022-09-01 05:37] Cyberghost5 commented on #70
Upon tapping on the run button.

On Wed, Aug 31, 2022, 11:12 PM Herman Zvonimir Došilović <
***@***.***> wrote:

[2022-09-01 18:20] hermanzdosilovic commented on #70
Can you share the link on the website?

[2022-09-09 18:25] Cyberghost5 commented on #70
It's currently on localhost.

[2022-09-24 08:01] YinYongHongYork commented on #70
Has it fixed?

[2022-10-11 06:48] Mohan7702570023 commented on #70
I'm having the same issue here. Please any update about this?

[2022-10-11 21:13] hermanzdosilovic commented on #70
You need to setup your own instance of Judge0 in order to be able to use it with Judge0 IDE.

[2022-11-15 17:17] Kri1234shn opened #71 "Uuy"
8iu